body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

#visualizer {
    width: 100%;
    height: 400px;
    background-color: #333;
    border-radius: 5px;
    margin-top: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #visualizer {
        height: 250px;
    }

    #controls {
        text-align: center;
    }

    #playPauseBtn, #visualMode {
        width: 100%;
        margin-bottom: 10px;
    }
}

#controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playPauseBtn, #visualMode {
    width: 48%;
}

#loadingSpinner {
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    display: block;
}
